/* ._MessageMainDiv{
    border:1px solid red;
} */

.messageDiv1{
    /* border:1px solid green; */
    display: flex;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.messageDiv1>div:nth-child(1){
    /* border:1px solid yellow; */
    width:20%;
}
.messageDiv1>div:nth-child(2){
    /* border:1px solid green; */
    width:60%;
}

.messageDiv1>div:nth-child(3){
    /* border:1px solid violet; */
    width:20%;
}

.messageDiv2{
    
    height:200px;
    width:90%;
    margin:auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #ECEDEF;
    border-radius: 15px;
}
.messageDiv12{
    
    width:95%;
    display: flex;
    gap:20px;
    height: 70%;
}
.NmessageImage{
    
    width:70px;
    height:70px;
    border-radius:50%;
    overflow: hidden;
}
.messageDiv121{
    
    width:80%;
    font-family: sans-serif;
}
.messageDiv121>div>p{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.messageDiv121>div:nth-child(1){
    
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.NmessageImage>img{
height:100%;
width:100%;
}
.messageDiv1>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.messageDiv1>div:nth-child(2){
    font-size: 25px;
    font-family: sans-serif;
}

/* @media screen and (max-width:700px) {
    ._MessageDiv2{
        width:90%;
    }
} */