._Profilemaindiv {
    /* border:1px solid firebrick; */
    width: 100%;
    position: relative;
    /* height: 500px; */
}

._Profileimg {
    /* border :1px solid green; */
    width: 70%;
    margin: auto;
    height: 330px;
    /* position: relative; */
}

._Profileimg>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
._ProfileEdit{
    margin:auto;
    /* border:1px solid yellow; */
    text-align: center;
    margin-bottom: 30px;
}
._Profileinfo {
    /* border: 1px solid red; */
    margin: auto;
    background-color: #064E92;
    border-radius: 50px;
    /* height: 300px; */
    width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
}
._Profileinfo>div:nth-child(1){
    width:80%;
    margin: auto;
    /* border: 1px solid green; */
    margin-bottom: 30px;
    margin-top:30px;
}
._Profilename{
    width:80%;
    margin:auto;
    padding-top: 10px;
    /* margin-top: 100px; */
    color: white;
    font-family: sans-serif;
    /* border:1px solid red; */
    text-align: center;
}

._Profileemail{
    color: white;
    font-family: sans-serif;
    /* border:1px solid red; */
    text-align: center;
}

._Profilestat {
    /* border:1px solid green; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 30%;
    height: 50px;
    margin-top: 10px;
}

._Profileconnection {
    /* border:1px solid white; */
    width: 50%;
    height: 100%;
    color: white;
}

._Profileratings {
    /* border-left: 0.5px solid white; */
    width: 50%;
    height: 100%;
    text-align: right;
    color: white;
    font-size: 18px;
}

._Profileconnection1 {
    /* text-align: center; */
    font-family: sans-serif;
    /* border: 1px solid red; */
}

._Profileconnection>span {
    /* border:1px solid red; */
    font-size: 20px;
    position: relative;
    bottom: 2px;
}

._Profileratings>span {
    position: relative;
    bottom: 5px;
    font-size: 20px;
}

._Profileratings>div {
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    bottom: 3px;
    /* border: 1px solid red; */
}

._Profiledetails {
    display: flex;
    justify-content: center;
    /* border: 1px solid firebrick; */
    height: 20px;
    width: 90%;
    margin: auto;
    gap: 2%;
    /* position: relative;
    top: 20px; */
    margin-top:10px;
    color: white;
    font-family: sans-serif;
}

._ProfiledetailsPercentage {
    /* border:1px solid yellow; */
    width: 92%;
    height: 5px;
    position: relative;
    top: 6px;
    background-color: white;
}
._Editbutton{
    position:fixed;
    /* bottom: 15px; */
    right:100px;
    top:500px;
}
._Editbtnicon{
    font-size: 40px;
    color:white;
}

._Editbtnicon{
    font-size:20px;
}

@media screen and (max-width:700px) {
    ._Editbutton{
        position: fixed;
        right:12px;
    }  
    ._Editbtnicon{
         font-size:20px;
    }
    ._Profileinfo{
        width:96%;
    }
    ._Profilename{
        width:100%;
    }
    ._Profilestat{
        width:60%;
    }
    ._Profiledetails{
        width:100%;
    }
}
