._Setting{
    display: flex;
    align-items: center;
    position: relative;
    height:50px;
    gap:35%;
    box-shadow:  rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    border: 1px solid yellow;
    /* flex-wrap: nowrap; */
    /* justify-content: space-around; */
}
._Setting>div{
    /* border:1px solid red; */
    font-size: 30px;
    font-family: sans-serif;
}
._Settingheading{
    width:55%;
    /* text-align: center; */
}
._Settingicon{
 position: relative; 
 width:10%; 
 height: 100%;
}
/* ._Settingmaindiv{
    border:1px solid green;
} */