* {
    box-sizing: border-box; 
  }
  .page {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: auto;  
    position: relative;
    justify-content: center;
    
    /* right: 18px; */
    }

  
  .imgs
  {
    /* margin: auto;
    height: 430px; */
    height: 100%;
  width: 100%;
  /*   text-align: center;
    position: relative;
    width: 480px; */
    /* margin-bottom: 11px; */
   /*  z-index: 0; */
   object-fit: cover;
   
  }
  
  .image1
  {
    margin: auto;
    height:38px;
    position: relative;
    top: 58px;
    left: 150px;
    z-index: 0;
  }


  .col-1 {
    background: #fff;
    flex: 1;
  }
 

 


 